body{
   margin: 0;
   padding: 0;
}
.header{

}
.logo_header{
   width: 30%;
   border-radius: 500px;

   right: 4px
}
.header_text{
   display: flex;
   justify-content: center;
   margin: 0;
}
.header_h2{

}


.table{
   display: grid;
   grid-template-columns: 1fr;
   width: 80%;
   background-color: aqua;
   align-items: center;
   border-radius: 10px;
   margin: 0 auto;
   padding-bottom: 25px;

}

.table_subject_class{
    margin-top: 20px;
    padding: 0;
    border-radius: 10;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.navigation{
   display: flex;
   justify-content: space-between;
   margin-top: 15px;
   
}
.back{
   width: 50px;
   transform: rotate(180deg);
   margin-left: 100px;
   
}
.next{
   width: 50px;
   margin-right: 100px;
}
.found{
   display: flex;
   justify-content: center;
   
}
.timebreak{
   width: 400px;
}